<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>

        <rule name="Home limpio" stopProcessing="true">
          <match url="^$" />
          <action type="Rewrite" url="login.php" />
        </rule>

        <rule name="URLs limpias Loto" stopProcessing="true">
          <match url="^([a-zA-Z0-9_-]+)/?$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php?pag={R:1}" />
        </rule>

      </rules>
    </rewrite>
  </system.webServer>
</configuration>